/* Styles for the simplified landing page */
.landing-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: white;
}

.landing-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.landing-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-nav {
    background: var(--color-primary);
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 2rem 0rem;

}

.landing-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.landing-nav a {
    color: white;
    text-decoration: none;
}

.landing-nav a:hover {
    background: var(--color-accent);
}
